<div class="new-password-container">
    <form (submit)='onConfirm(newPasswordForm)' #newPasswordForm="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Enter your new password</label>
            <input type="password" name="password" class="form-control" id="inputError" required password ngModel
            #password="ngModel">
            <div *ngIf="password.hasError('required')  && password.touched" class="invalid-feedback">
                Please enter password
            </div>
            <!-- <div *ngIf="email.hasError('email')" class="invalid-feedback">
                Please enter valid email address
            </div> -->
        </div>
        <div class="submit-section">
            <button type="submit" class="btn btn-dark" [disabled]='newPasswordForm.invalid'>CONFIRM</button>
        </div>
    </form>
</div>