<div class="forgot-password-container">
    <form (submit)='onSubmit(forgotPasswordForm)' #forgotPasswordForm="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Please enter your email address to reset your password</label>
            <input type="email" name="email" class="form-control" id="inputError" required email ngModel
            #email="ngModel">
            <div *ngIf="email.hasError('required')  && email.touched" class="invalid-feedback">
                Please enter email address
            </div>
            <div *ngIf="email.hasError('email')" class="invalid-feedback">
                Please enter valid email address
            </div>
        </div>
        <div class="submit-section">
            <button type="submit" class="btn btn-dark" [disabled]='forgotPasswordForm.invalid'>SUBMIT</button>
        </div>
    </form>
</div>